body {
	display: flex;
 	flex-direction: column;
	align-items: center;
	font-family: 'Crimson Pro', serif;
	font-family: 'Iceberg', sans-serif;
	background-image: url("assets/art/background.png");
 	background-color: rgb(212, 213, 221);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	overflow-y: auto;
}


h1, h2 {
    text-align: center;
    margin: 1px;

}


h1 {
	margin-top:10vh;
    width: 60vw;
    font-size: 70px;
    margin: 2vh;
}


h2 {
    width: 25vw;
    font-size: 50px;
}


nav {
	padding-right:50vw;
    margin: 1vw;
    gap: 0.5vh;
    text-align: center;
    align-items: stretch;
    position: fixed;
    display: flex;
    flex-direction: column;
}


nav button {
    border: transparent;
    font-size: 12px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}


nav button:hover {
    background-color: #acacac;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
	cursor: pointer;
}


.socials {
	align-items:center;
    padding: 0%;
    margin: 0%;
	margin-top: 5vh;
    background:none;
    border:none;
    border-radius: 300px;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}


.socials:hover {
	background-color: #acacac;
	transform: scale(1.1);
	cursor: pointer;
}


.socials img {
    display: block;
    width: 20px;
}


.homebuttons {
	margin-top:5vh;
	align-items:center;
	display:flex;
	flex-direction: row; 
	border:none;
	gap:5vw;
	margin-bottom:5vh;

}


.homebutton {
	align-items:center;
	background:none;
	padding: 0%;
    margin: 0%;
	border:none;
	display:flex;
	flex-direction: column; 
	transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}


.homebutton img {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	width: 100px;
	padding: 0%;
    margin: 0%;
}


.homebutton:hover {
	cursor: pointer;
	filter: brightness(120%);
	transform: scale(1.1);
}


.page {
    justify-content: center;
    display: flex;
    flex-direction: row;
}


.gallery {
	background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    max-height: 70vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


.column {
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px;
    margin: 10px;
    align-items: center;

}


.art {
    border: 0.2vw solid;
    max-width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: auto;
}
